@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/UbuntuMono-Regular.ttf);
  }
  /*Variables de colores y fuentes más usados*/
$color-red: #821b1b;
$color-fondo: #e18936;
$font-text: "Ubuntu";